body {
  background-image: url("https://files.wallpaperpass.com/2019/10/zen%20wallpaper%20112%20-%202160x1920.jpg");
  background-color: #cccccc;
 }
  
h1 {
  font-family: fantasy;
  color: rgb(59, 38, 58)
  
}

input {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
}

img[src="OurLogo.png"]{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  position:absolute;
  top:0;
  right:0;
}
 
#quoteSpot {
  font-family: fantasy;
  font-size: 15px;
}

#submit-butt {
  
  padding: auto;
}